body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    width: 80%;
    margin: 0 auto;
}

.creative{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.creative h2{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}

.intro{
    width: 50%;
}

.intro h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.intro p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.photo-opp{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-row: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.photo-opp img{
    width: 80%;
    height: 80%;
}

.photo-opp p{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #000000;

}

.Bill{
    position: relative;
}

.Saba{
    position: relative;
    margin-top: 30%;
}

.Shae{
    position: relative;
}

.Skylah{
    position: relative;
}

.Griff{
    position: relative;
    margin-top: 30%;
}

.Stan{
    position: relative;
}

body > section > div.photo-opp > div:nth-child(1) > p:nth-child(3){
    position: absolute;
    font-family: PT Serif;
    top: 10%;
    left: 65%;
    white-space: nowrap;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
color: #000000;
transform: rotate(90deg);
}

body > section > div.photo-opp > div:nth-child(2) > p:nth-child(3){
    position: absolute;
    top: 10%;
    left: 70%;
    white-space: nowrap;
    font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
color: #000000;
transform: rotate(90deg);
}

body > section > div.photo-opp > div:nth-child(3) > p:nth-child(3){
    position: absolute;
    top: 10%;
    left: 70%;
    white-space: nowrap;
    font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
color: #000000;
transform: rotate(90deg);
}

body > section > div.photo-opp > div:nth-child(4) > p:nth-child(3){
    position: absolute;
    top: 10%;
    left: 70%;
    white-space: nowrap;
    font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
color: #000000;
transform: rotate(90deg);
}

body > section > div.photo-opp > div:nth-child(5) > p:nth-child(3){
    position: absolute;
    top: 10%;
    left: 70%;
    white-space: nowrap;
    font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
color: #000000;
transform: rotate(90deg);
}

body > section > div.photo-opp > div:nth-child(6) > p:nth-child(3){
    position: absolute;
    top: 10%;
    left: 70%;
    white-space: nowrap;
    font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-transform: uppercase;
color: #000000;
transform: rotate(90deg);
}

footer{
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
}

@media (max-width: 700px){
    .creative{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .creative h2{
        text-align: left;
    }
    
    .intro{
        width: 100%;
    }
    .photo-opp{
        display: grid;
        width: 80%;
        margin: 0 auto;
        grid-row: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    body > section > div.photo-opp > div:nth-child(1) > p:nth-child(3){
        position: absolute;
        font-family: PT Serif;
        top: 10%;
        left: 55%;
        white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    }
    
    body > section > div.photo-opp > div:nth-child(2) > p:nth-child(3){
        position: absolute;
        top: 10%;
        left: 65%;
        white-space: nowrap;
        font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    }
    
    body > section > div.photo-opp > div:nth-child(3) > p:nth-child(3){
        position: absolute;
        top: 10%;
        left: 65%;
        white-space: nowrap;
        font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    }
    
    body > section > div.photo-opp > div:nth-child(4) > p:nth-child(3){
        position: absolute;
        top: 10%;
        left: 65%;
        white-space: nowrap;
        font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    }
    
    body > section > div.photo-opp > div:nth-child(5) > p:nth-child(3){
        position: absolute;
        top: 10%;
        left: 65%;
        white-space: nowrap;
        font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    }
    
    body > section > div.photo-opp > div:nth-child(6) > p:nth-child(3){
        position: absolute;
        top: 10%;
        left: 65%;
        white-space: nowrap;
        font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    }
    
    .Saba{
        position: relative;
        margin-top: 30%;
    }
    
    .Skylah{
        position: relative;
        margin-top: 30%;
    }
    
    
    .Stan{
        position: relative;
        margin-top: 50%;
    }
}